<html data-theme="light">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="../static/css/sead_dashboard.css">
    <link rel="stylesheet" href="../static/css/pico-1.5.9/css/pico.min.css">
    <script defer src="../static/js/404.js"></script>
  </head>

  <body>
    <nav class="container-fluid navbar-custom" >
        <ul>
            <li><a href="/" class="secondary">Flo's Part DB</a></li>
        </ul>
    </nav>
    <main id="main-holder" class="main-document">

        <div class="grid">
            
            <section>
                <article class="centering content-article">
                    <h2>Not found: 404</h2>
                    
                    <p>Hm, something went wrong go back to
                        <a href="#" onclick="window.location='/'"> Start</a>
                    </p>

                    
                </article>
            </section>
    
        </div>
    </main>
  </body>
</html>