<html data-theme="light">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flo's Part DB Home</title>
    <link rel="stylesheet" href="../static/css/sead_dashboard.css">
    <link rel="stylesheet" href="../static/css/pico-1.5.9/css/pico.min.css">
    <link rel="stylesheet" href="../static/css/pico-1.5.9/scss/content/_button.scss">
    <script defer src="../static/js/home.js"></script>
  </head>

  <body>
    <nav class="container-fluid navbar-custom" >
        <ul>
            <li> <a href="/" class="secondary">Flo's Part DB</a> </li>
            <li> <a href="/all" class="secondary">Show All</a> </li>
        </ul>
    </nav>
    <main id="main-holder" class="main-document">
        <h2> Welcome to Flo's Part Database! </h2>
        <p> Quick-Search here: </p>
        <form id="search-form" method="post">
            <input type="text" name="search_id" id="search-field" class="search-form-field" placeholder="Search Id">
            <input type="submit" value="Search" id="search-form-submit">
        </form>
        <p> Add here: </p>
        <form id="add-form" method="post">
            <input type="text" name="add_id" id="add-field" class="add-form-field" placeholder="Mouser Id">
            <input type="submit" value="Add" id="add-form-submit">
        </form>
        <input type="submit" class="secondary" value = "Commit Changes to CSV" id="save-submit">
        <input type="submit" class="contrast" value = "Undo all current changes" id="undo-submit">
    </main>
  </body>
</html>