<html data-theme="light">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result</title>
    <link rel="stylesheet" href="../static/css/sead_dashboard.css">
    <link rel="stylesheet" href="../static/css/pico-1.5.9/css/pico.min.css">
  </head>

  <body>
    <nav class="container-fluid navbar-custom" >
        <ul>
            <li><a href="/" class="secondary">Flo's Part DB</a></li>
        </ul>
    </nav>
        <table>
            <tr>
                {% for h in headrow %}
                <th>{{h}}</th>
                {% endfor %}
            </tr>
            {% for r in rows.items() %}
                <tr>
                    {% for item in r %}
                        <td>{{item}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
  </body>
</html>